body {
    background-image: url(/static/sky.png);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#winner_logo {
    text-align: center;
}
.animated-logo {
    animation: float-logo 7s linear infinite;
    position: relative;
    width: 60%;
}

@keyframes float-logo {
    0% { transform: translatex(0px) translatey(0px); }
    25% { transform: translatex(-1px) translatey(4px); }
    50% { transform: translatex(0px) translatey(0px); }
    75% { transform: translatex(1px) translatey(4px); }
    100% { transform: translatex(0px) translatey(0px); }
}

.subscriptions-chart {
    height: 400px;
    width: 100%;
}

.flex-container {
    color: #eee;
    display: flex;
    flex-direction: row;
    font-size: 36px;
    font-weight: bold;
    padding-left: 150px;
    padding-right: 150px;
}

.flex-item {
    flex: auto;
    text-align: center;
}
