<link rel="stylesheet" type="text/css" href="/static/home.css">
<script
  src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
  crossorigin="anonymous"></script>
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script src="/static/subscriber-chart.js"></script>
<script src="/static/home.js"></script>

<div id="winner_logo"></div>
<div class="subscriptions-chart" id="chartdiv"></div>
<div class="flex-container">
    <div class="flex-item" id="tseries_subscribers_count"></div>
    <div class="flex-item">vs.</div>
    <div class="flex-item" id="pewdiepie_subscribers_count"></div>
</div>